<form method="POST" action="/pizza-orders/<%= @id %>">

  <label for="first-name-field">First Name</label>
  <input type="text" name="first_name" value="<%= @pizza.first_name %>" id="first-name-field">

<br>

  <label for="last-name-field">Last Name</label>
  <input type="text" name="last_name" value="<%= @pizza.last_name %>" id="last-name-field"/>

<br>

  <label for="quantity-field">Quantity</label>
  <input type="number" name="quantity" min="1" max="100" value="<%= @pizza.quantity %>" id="quantity-field"/>

<br>

  <label for="topping-select">Choose your topping</label>
  <select name="topping" id="topping-select">
    <option value="Magherita" <%= 'selected' if @pizza.topping ==  "Margherita" %>>Margherita</option>
    <option value="Pepperoni"<%= 'selected' if @pizza.topping ==  "Pepperoni" %>>Pepperoni</option>
    <option selected value="Veggie Supreme"<%= 'selected' if @pizza.topping ==  "Veggie Supreme" %>>Veggie Supreme</option>
    <option value="Meat Feast"<%= 'selected' if @pizza.topping ==  "Meat Feast" %>>Meat Feast</option>
  </select>

<br>
<br>
<br>

  <input type="submit" value="Update your Order">

</form>
